## Final plots for report

In [6]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import os

## 1. Aggregate Data

In [11]:
nyse_data_path = '../rejection/nyse-o/compare_100/'
sp_data_path = '../rejection/sp500/'

## 1.1 NYSE

In [12]:
files = os.listdir(nyse_data_path)
files

['Compare_100_2018-01-18 00:32:31',
 'Compare_100_2018-01-17 23:17:58',
 'Compare_100_2018-01-18 01:17:40',
 'Compare_100_2018-01-17 23:35:41',
 'Compare_100_2018-01-17 20:34:47',
 'Compare_100_2018-01-18 01:10:55',
 'Compare_100_2018-01-17 23:13:38',
 'Compare_100_2018-01-17 22:39:53',
 'Compare_100_2018-01-17 20:01:05',
 'Compare_100_2018-01-17 22:58:08',
 'Compare_100_2018-01-17 23:35:42']

In [29]:
dfs = []

for f in files:
    df = pd.read_csv(nyse_data_path + f)
    dfs.append(df)
    
all_data = pd.concat(dfs, axis=0, ignore_index=True)
all_data = all_data.drop(columns=['Unnamed: 0'])

In [32]:
all_data.head(10)

   Beta Range  Alpha   Gamma  Eta  Max Risk     Wealth  No Risk Wealth
0        21.0   0.40  0.0025  1.5      1.20  12.132442       11.637889
1        42.0   0.00  0.0010  1.0      1.00   5.038557        0.429885
2        42.0   0.30  0.0100  1.2      1.25   8.047887        7.657041
3        42.0   0.40  0.0050  0.6      0.75  26.769801       11.308666
4        63.0   0.05  0.0025  1.3      0.90  17.291876        4.279033
5       252.0   0.10  0.0000  0.3      1.05  15.968200       16.391637
6        42.0   0.30  0.0050  0.2      1.00  20.222691       12.940657
7        21.0   0.40  0.0000  0.3      0.65  26.789450       16.391637
8        63.0   0.25  0.0100  0.3      0.65  26.670504        9.161609
9        42.0   0.15  0.0000  1.4      0.85  43.014801       48.329926

## 1.2 S&P